USE [master]
GO
/****** Object:  Database [_AmicoForOp]    Script Date: 25/8/2018 10:43:36 a. m. ******/
CREATE DATABASE [_AmicoForOp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'_AmicoForOp', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQL2016\MSSQL\DATA\_AmicoForOp.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'_AmicoForOp_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQL2016\MSSQL\DATA\_AmicoForOp_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [_AmicoForOp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [_AmicoForOp]
GO
USE [_AmicoForOp]
GO
/****** Object:  User [IIS APPPOOL\DefaultAppPool]    Script Date: 25/8/2018 10:43:36 a. m. ******/
CREATE USER [IIS APPPOOL\DefaultAppPool] FOR LOGIN [IIS APPPOOL\DefaultAppPool] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [IIS APPPOOL\DefaultAppPool]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 25/8/2018 10:43:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 25/8/2018 10:43:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 25/8/2018 10:43:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 25/8/2018 10:43:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 25/8/2018 10:43:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 25/8/2018 10:43:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuthorPlanOptions]    Script Date: 25/8/2018 10:43:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuthorPlanOptions](
	[AuthorPlanOptionId] [int] IDENTITY(1,1) NOT NULL,
	[AuthorPlanId] [int] NOT NULL,
	[OptionId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.AuthorPlanOptions] PRIMARY KEY CLUSTERED 
(
	[AuthorPlanOptionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuthorPlans]    Script Date: 25/8/2018 10:43:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuthorPlans](
	[AuthorPlanId] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](100) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[CurrencyId] [int] NOT NULL,
	[PeriodicityId] [int] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[StatusId] [int] NULL,
 CONSTRAINT [PK_dbo.AuthorPlans] PRIMARY KEY CLUSTERED 
(
	[AuthorPlanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Authors]    Script Date: 25/8/2018 10:43:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Authors](
	[AuthorId] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](15) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Imagen] [nvarchar](max) NULL,
	[Email] [nvarchar](50) NULL,
	[Tel] [nvarchar](50) NULL,
	[StartDate] [datetime] NULL,
	[StatusId] [int] NOT NULL,
	[AuthorPlanId] [int] NOT NULL,
	[AuthorTypeId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Authors] PRIMARY KEY CLUSTERED 
(
	[AuthorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuthorTypes]    Script Date: 25/8/2018 10:43:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuthorTypes](
	[AuthorTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_dbo.AuthorTypes] PRIMARY KEY CLUSTERED 
(
	[AuthorTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BloodTypes]    Script Date: 25/8/2018 10:43:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BloodTypes](
	[BloodTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](100) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_dbo.BloodTypes] PRIMARY KEY CLUSTERED 
(
	[BloodTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Continents]    Script Date: 25/8/2018 10:43:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Continents](
	[ContinentId] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](5) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Demonym] [nvarchar](25) NOT NULL,
 CONSTRAINT [PK_dbo.Continents] PRIMARY KEY CLUSTERED 
(
	[ContinentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 25/8/2018 10:43:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[CountryId] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](5) NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Demonym] [nvarchar](25) NULL,
	[Imagen] [nvarchar](max) NULL,
	[Continent_ContinentId] [int] NULL,
 CONSTRAINT [PK_dbo.Countries] PRIMARY KEY CLUSTERED 
(
	[CountryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Currencies]    Script Date: 25/8/2018 10:43:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Currencies](
	[CurrencyId] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](10) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_dbo.Currencies] PRIMARY KEY CLUSTERED 
(
	[CurrencyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genders]    Script Date: 25/8/2018 10:43:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genders](
	[GenderId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_dbo.Genders] PRIMARY KEY CLUSTERED 
(
	[GenderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Generals]    Script Date: 25/8/2018 10:43:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Generals](
	[GeneralId] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [int] NOT NULL,
	[AntFamiliar] [nvarchar](500) NULL,
	[AntPersonales] [nvarchar](500) NULL,
	[Diabetes] [bit] NOT NULL,
	[Drugs] [bit] NOT NULL,
	[Tobaco] [bit] NOT NULL,
	[Alcohol] [bit] NOT NULL,
	[Sports] [nvarchar](500) NULL,
	[Pasatiempos] [nvarchar](500) NULL,
	[Work] [nvarchar](500) NULL,
	[Food] [nvarchar](500) NULL,
	[Accidents] [nvarchar](500) NULL,
	[Traumatismos] [nvarchar](500) NULL,
	[Fracturas] [nvarchar](500) NULL,
	[Alergys] [nvarchar](500) NULL,
	[Sugeries] [nvarchar](500) NULL,
	[Incapacidades] [nvarchar](500) NULL,
	[Menstruacion] [nvarchar](500) NULL,
	[Respiracion] [nvarchar](500) NULL,
	[Piel] [nvarchar](500) NULL,
	[Urinarias] [nvarchar](500) NULL,
	[Psiquiatria] [nvarchar](500) NULL,
	[InfanciaEnferma] [nvarchar](500) NULL,
	[NoQuirurgicas] [nvarchar](500) NULL,
	[Medicaments] [nvarchar](500) NULL,
	[Enfermedades] [nvarchar](500) NULL,
	[Observations] [nvarchar](2000) NULL,
 CONSTRAINT [PK_dbo.Generals] PRIMARY KEY CLUSTERED 
(
	[GeneralId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Insurances]    Script Date: 25/8/2018 10:43:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Insurances](
	[InsuranceId] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](100) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[AditionalInfo] [nvarchar](400) NULL,
 CONSTRAINT [PK_dbo.Insurances] PRIMARY KEY CLUSTERED 
(
	[InsuranceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaritalSituations]    Script Date: 25/8/2018 10:43:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaritalSituations](
	[MaritalSituationId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_dbo.MaritalSituations] PRIMARY KEY CLUSTERED 
(
	[MaritalSituationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ocupations]    Script Date: 25/8/2018 10:43:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ocupations](
	[OcupationId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.Ocupations] PRIMARY KEY CLUSTERED 
(
	[OcupationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OptionRols]    Script Date: 25/8/2018 10:43:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OptionRols](
	[OptionRolId] [int] IDENTITY(1,1) NOT NULL,
	[OptionId] [int] NOT NULL,
	[RolId] [int] NOT NULL,
	[FromDate] [datetime] NOT NULL,
	[ToDate] [datetime] NOT NULL,
	[Undefined] [bit] NOT NULL,
	[Index] [bit] NOT NULL,
	[Delete] [bit] NOT NULL,
	[Create] [bit] NOT NULL,
	[Edit] [bit] NOT NULL,
	[Details] [bit] NOT NULL,
	[StatusId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.OptionRols] PRIMARY KEY CLUSTERED 
(
	[OptionRolId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Options]    Script Date: 25/8/2018 10:43:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Options](
	[OptionId] [int] IDENTITY(1,1) NOT NULL,
	[ParentOptionId] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](100) NOT NULL,
	[Link] [nvarchar](100) NULL,
	[Area] [nvarchar](25) NULL,
	[Controller] [nvarchar](25) NULL,
	[Action] [nvarchar](25) NULL,
	[Order] [int] NULL,
	[Class] [nvarchar](100) NULL,
	[Icon] [nvarchar](max) NULL,
	[StatusId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Options] PRIMARY KEY CLUSTERED 
(
	[OptionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ParentOptions]    Script Date: 25/8/2018 10:43:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParentOptions](
	[ParentOptionId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
	[Description] [nvarchar](100) NOT NULL,
	[Link] [nvarchar](100) NULL,
	[Order] [int] NULL,
	[Class] [nvarchar](100) NULL,
	[Icon] [nvarchar](max) NULL,
	[StatusId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ParentOptions] PRIMARY KEY CLUSTERED 
(
	[ParentOptionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patients]    Script Date: 25/8/2018 10:43:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[PatientId] [int] IDENTITY(1,1) NOT NULL,
	[PersonId] [int] NOT NULL,
	[Record] [int] NOT NULL,
	[Record2] [nvarchar](max) NULL,
	[CreationDate] [datetime] NULL,
	[InsuranceId] [int] NOT NULL,
	[InsuranceNumber] [nvarchar](15) NULL,
	[BloodTypeId] [int] NOT NULL,
	[Age] [nvarchar](30) NULL,
 CONSTRAINT [PK_dbo.Patients] PRIMARY KEY CLUSTERED 
(
	[PatientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentTypes]    Script Date: 25/8/2018 10:43:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentTypes](
	[PaymentTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](10) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_dbo.PaymentTypes] PRIMARY KEY CLUSTERED 
(
	[PaymentTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[People]    Script Date: 25/8/2018 10:43:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[People](
	[PersonId] [int] IDENTITY(1,1) NOT NULL,
	[Rnc] [nvarchar](15) NULL,
	[Name] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[BornDate] [datetime] NULL,
	[GenderId] [int] NOT NULL,
	[SchoolLevelId] [int] NULL,
	[CountryId] [int] NOT NULL,
	[Email] [nvarchar](50) NULL,
	[Tel] [nvarchar](15) NULL,
	[Cel] [nvarchar](15) NULL,
	[MaritalSituationId] [int] NOT NULL,
	[OcupationId] [int] NOT NULL,
	[ReligionId] [int] NOT NULL,
	[Address] [nvarchar](200) NULL,
	[StatusId] [int] NOT NULL,
	[Imagen] [nvarchar](max) NULL,
	[AuthorId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.People] PRIMARY KEY CLUSTERED 
(
	[PersonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Periodicities]    Script Date: 25/8/2018 10:43:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Periodicities](
	[PeriodicityId] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](100) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_dbo.Periodicities] PRIMARY KEY CLUSTERED 
(
	[PeriodicityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Religions]    Script Date: 25/8/2018 10:43:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Religions](
	[ReligionId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_dbo.Religions] PRIMARY KEY CLUSTERED 
(
	[ReligionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reports]    Script Date: 25/8/2018 10:43:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reports](
	[ReportId] [int] IDENTITY(1,1) NOT NULL,
	[MainHeader] [nvarchar](1000) NULL,
	[Header1] [nvarchar](200) NULL,
	[Header2] [nvarchar](200) NULL,
	[Header3] [nvarchar](200) NULL,
	[Description] [nvarchar](100) NULL,
	[Body] [nvarchar](max) NULL,
	[MainFooter] [nvarchar](100) NULL,
	[Footer1] [nvarchar](100) NULL,
	[Footer2] [nvarchar](100) NULL,
	[Footer3] [nvarchar](100) NULL,
	[Width] [nvarchar](100) NOT NULL,
	[Heigh] [nvarchar](100) NOT NULL,
	[Imagen] [nvarchar](max) NULL,
	[AuthorId] [int] NOT NULL,
	[User_UserId] [int] NULL,
 CONSTRAINT [PK_dbo.Reports] PRIMARY KEY CLUSTERED 
(
	[ReportId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rols]    Script Date: 25/8/2018 10:43:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rols](
	[RolId] [int] IDENTITY(1,1) NOT NULL,
	[AuthorId] [int] NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
	[Description] [nvarchar](100) NOT NULL,
	[Level] [int] NOT NULL,
	[StatusId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Rols] PRIMARY KEY CLUSTERED 
(
	[RolId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SchoolLevels]    Script Date: 25/8/2018 10:43:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SchoolLevels](
	[SchoolLevelId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_dbo.SchoolLevels] PRIMARY KEY CLUSTERED 
(
	[SchoolLevelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceTypes]    Script Date: 25/8/2018 10:43:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceTypes](
	[ServiceTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ServiceTypes] PRIMARY KEY CLUSTERED 
(
	[ServiceTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 25/8/2018 10:43:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[StatusId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Table] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.Status] PRIMARY KEY CLUSTERED 
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserEmailSettings]    Script Date: 25/8/2018 10:43:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserEmailSettings](
	[UserEmailSettingId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Email] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[HostNameSmtp] [nvarchar](max) NULL,
	[Port] [int] NOT NULL,
 CONSTRAINT [PK_dbo.UserEmailSettings] PRIMARY KEY CLUSTERED 
(
	[UserEmailSettingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRols]    Script Date: 25/8/2018 10:43:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRols](
	[UserRolId] [int] IDENTITY(1,1) NOT NULL,
	[RolId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[FromDate] [datetime] NULL,
	[ToDate] [datetime] NULL,
	[Undefined] [bit] NOT NULL,
	[StatusId] [int] NOT NULL,
	[Option_OptionId] [int] NULL,
 CONSTRAINT [PK_dbo.UserRols] PRIMARY KEY CLUSTERED 
(
	[UserRolId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 25/8/2018 10:43:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[UserTypeId] [int] NOT NULL,
	[Picture] [nvarchar](max) NULL,
	[Email] [nvarchar](100) NOT NULL,
	[StatusId] [int] NOT NULL,
	[AuthorId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTypes]    Script Date: 25/8/2018 10:43:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTypes](
	[UserTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.UserTypes] PRIMARY KEY CLUSTERED 
(
	[UserTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'82eb20cd-e6d3-412f-a9b4-f1a8e26f7438', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'5a0abab5-0320-4581-b99c-0063782d4827', N'User')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'0acf9121-8037-4869-8b5e-a586cb47e5ac', N'5a0abab5-0320-4581-b99c-0063782d4827')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'0f1ad74d-9436-472f-9d3e-f4c6f42f5f6c', N'5a0abab5-0320-4581-b99c-0063782d4827')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'1314e6f4-c363-4408-9233-aab068893f21', N'5a0abab5-0320-4581-b99c-0063782d4827')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'0acf9121-8037-4869-8b5e-a586cb47e5ac', N'gcrecencio@mersy.com', 0, N'AF99MJjPbLTBAzW6OxJcNH4RHKVy2kRGGDi+TH7hMnffgLj/4VzHiRzilLIpm6BxgQ==', N'1df34f71-8e03-4915-914f-72821cdea1c7', NULL, 0, 0, NULL, 0, 0, N'gcrecencio@mersy.com')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'0f1ad74d-9436-472f-9d3e-f4c6f42f5f6c', N'mfulgencio@mersy.com', 0, N'AIHe6m1j7+TOHbnsk4j9gS9kDsqcxfAls6n+HGwleqL5Mpe2y7x/eF/j/+QnMWhSkg==', N'3e712b13-ddf1-47c7-8816-418a556fa55f', NULL, 0, 0, NULL, 0, 0, N'mfulgencio@mersy.com')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'1314e6f4-c363-4408-9233-aab068893f21', N'salute@praysoft.net', 0, N'AJY08lEbIgnx5zZdbeFlx6m0w18iYGJnQr2RqxioZIEhZ+fWKS1E68Uj/b6uJqw2PQ==', N'14b7f544-347a-4ed5-94b3-171d6c97deea', NULL, 0, 0, NULL, 0, 0, N'salute@praysoft.net')
SET IDENTITY_INSERT [dbo].[AuthorPlanOptions] ON 

INSERT [dbo].[AuthorPlanOptions] ([AuthorPlanOptionId], [AuthorPlanId], [OptionId]) VALUES (1, 3, 9)
INSERT [dbo].[AuthorPlanOptions] ([AuthorPlanOptionId], [AuthorPlanId], [OptionId]) VALUES (2, 3, 20)
INSERT [dbo].[AuthorPlanOptions] ([AuthorPlanOptionId], [AuthorPlanId], [OptionId]) VALUES (3, 3, 12)
SET IDENTITY_INSERT [dbo].[AuthorPlanOptions] OFF
SET IDENTITY_INSERT [dbo].[AuthorPlans] ON 

INSERT [dbo].[AuthorPlans] ([AuthorPlanId], [Code], [Name], [CurrencyId], [PeriodicityId], [Amount], [StatusId]) VALUES (1, N'TEST', N'Plan de Prueba', 2, 11, CAST(0.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[AuthorPlans] ([AuthorPlanId], [Code], [Name], [CurrencyId], [PeriodicityId], [Amount], [StatusId]) VALUES (2, N'All', N'Plan All Power', 2, 11, CAST(0.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[AuthorPlans] ([AuthorPlanId], [Code], [Name], [CurrencyId], [PeriodicityId], [Amount], [StatusId]) VALUES (3, N'Cardiologia M', N'Cardiologia M', 1, 4, CAST(29.00 AS Decimal(18, 2)), NULL)
SET IDENTITY_INSERT [dbo].[AuthorPlans] OFF
SET IDENTITY_INSERT [dbo].[Authors] ON 

INSERT [dbo].[Authors] ([AuthorId], [Code], [Name], [Imagen], [Email], [Tel], [StartDate], [StatusId], [AuthorPlanId], [AuthorTypeId]) VALUES (1, N'MERSY', N'MERSY', NULL, N'mersyrd@gmail.com', NULL, NULL, 1, 2, 1)
INSERT [dbo].[Authors] ([AuthorId], [Code], [Name], [Imagen], [Email], [Tel], [StartDate], [StatusId], [AuthorPlanId], [AuthorTypeId]) VALUES (3, N'aquino', N'Tomas Aquino', NULL, N'tomasaquinomf@hotmail.com', N'8492077715', CAST(N'2012-12-12T00:00:00.000' AS DateTime), 2, 1, 1)
INSERT [dbo].[Authors] ([AuthorId], [Code], [Name], [Imagen], [Email], [Tel], [StartDate], [StatusId], [AuthorPlanId], [AuthorTypeId]) VALUES (4, N'yahaira', N'Yajaira Olivares', NULL, N'yolivarez@hotmail.es', N'8492077716', CAST(N'2016-12-12T00:00:00.000' AS DateTime), 2, 1, 1)
SET IDENTITY_INSERT [dbo].[Authors] OFF
SET IDENTITY_INSERT [dbo].[AuthorTypes] ON 

INSERT [dbo].[AuthorTypes] ([AuthorTypeId], [Name]) VALUES (1, N'Empresa')
INSERT [dbo].[AuthorTypes] ([AuthorTypeId], [Name]) VALUES (2, N'Persona')
SET IDENTITY_INSERT [dbo].[AuthorTypes] OFF
SET IDENTITY_INSERT [dbo].[BloodTypes] ON 

INSERT [dbo].[BloodTypes] ([BloodTypeId], [Code], [Name]) VALUES (1, N'D', N'Desconocido')
INSERT [dbo].[BloodTypes] ([BloodTypeId], [Code], [Name]) VALUES (2, N'O+', N'O+')
INSERT [dbo].[BloodTypes] ([BloodTypeId], [Code], [Name]) VALUES (3, N'A+', N'A+')
SET IDENTITY_INSERT [dbo].[BloodTypes] OFF
SET IDENTITY_INSERT [dbo].[Continents] ON 

INSERT [dbo].[Continents] ([ContinentId], [Code], [Name], [Demonym]) VALUES (1, N'AS', N'Asia', N'Asiatic@')
INSERT [dbo].[Continents] ([ContinentId], [Code], [Name], [Demonym]) VALUES (2, N'AM', N'America', N'American@')
INSERT [dbo].[Continents] ([ContinentId], [Code], [Name], [Demonym]) VALUES (3, N'AF', N'África', N'African@')
SET IDENTITY_INSERT [dbo].[Continents] OFF
SET IDENTITY_INSERT [dbo].[Countries] ON 

INSERT [dbo].[Countries] ([CountryId], [Code], [Name], [Demonym], [Imagen], [Continent_ContinentId]) VALUES (1, N'RD', N'Republica Dominicana', N'Dominican@', NULL, NULL)
INSERT [dbo].[Countries] ([CountryId], [Code], [Name], [Demonym], [Imagen], [Continent_ContinentId]) VALUES (2, N'Ha', N'Haiti', N'Haitian@', NULL, NULL)
INSERT [dbo].[Countries] ([CountryId], [Code], [Name], [Demonym], [Imagen], [Continent_ContinentId]) VALUES (3, N'Ven', N'Venezuela', N'Venezolano', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Countries] OFF
SET IDENTITY_INSERT [dbo].[Currencies] ON 

INSERT [dbo].[Currencies] ([CurrencyId], [Code], [Name]) VALUES (1, N'DOP', N'Pesos Dominicanos')
INSERT [dbo].[Currencies] ([CurrencyId], [Code], [Name]) VALUES (2, N'USD', N'Dollar')
INSERT [dbo].[Currencies] ([CurrencyId], [Code], [Name]) VALUES (3, N'EUR', N'Euro')
SET IDENTITY_INSERT [dbo].[Currencies] OFF
SET IDENTITY_INSERT [dbo].[Genders] ON 

INSERT [dbo].[Genders] ([GenderId], [Name]) VALUES (2, N'F')
INSERT [dbo].[Genders] ([GenderId], [Name]) VALUES (3, N'I')
INSERT [dbo].[Genders] ([GenderId], [Name]) VALUES (1, N'M')
SET IDENTITY_INSERT [dbo].[Genders] OFF
SET IDENTITY_INSERT [dbo].[Insurances] ON 

INSERT [dbo].[Insurances] ([InsuranceId], [Code], [Name], [AditionalInfo]) VALUES (1, N'N/A', N'No Aplica/ Desconocido', NULL)
INSERT [dbo].[Insurances] ([InsuranceId], [Code], [Name], [AditionalInfo]) VALUES (2, N'APS', N'ARS APS', NULL)
INSERT [dbo].[Insurances] ([InsuranceId], [Code], [Name], [AditionalInfo]) VALUES (3, N'ASEMAP', N'ARS ASEMAP', NULL)
SET IDENTITY_INSERT [dbo].[Insurances] OFF
SET IDENTITY_INSERT [dbo].[MaritalSituations] ON 

INSERT [dbo].[MaritalSituations] ([MaritalSituationId], [Name]) VALUES (4, N'Casad@')
INSERT [dbo].[MaritalSituations] ([MaritalSituationId], [Name]) VALUES (5, N'Divorciad@')
INSERT [dbo].[MaritalSituations] ([MaritalSituationId], [Name]) VALUES (1, N'N/A (Desconocido)')
SET IDENTITY_INSERT [dbo].[MaritalSituations] OFF
SET IDENTITY_INSERT [dbo].[Ocupations] ON 

INSERT [dbo].[Ocupations] ([OcupationId], [Name]) VALUES (35, N'')
INSERT [dbo].[Ocupations] ([OcupationId], [Name]) VALUES (34, N'Abogado(a)')
INSERT [dbo].[Ocupations] ([OcupationId], [Name]) VALUES (13, N'Agricultor(a)')
SET IDENTITY_INSERT [dbo].[Ocupations] OFF
SET IDENTITY_INSERT [dbo].[OptionRols] ON 

INSERT [dbo].[OptionRols] ([OptionRolId], [OptionId], [RolId], [FromDate], [ToDate], [Undefined], [Index], [Delete], [Create], [Edit], [Details], [StatusId]) VALUES (1, 3, 1, CAST(N'2012-12-12T00:00:00.000' AS DateTime), CAST(N'2012-12-12T00:00:00.000' AS DateTime), 1, 0, 0, 0, 0, 0, 1)
INSERT [dbo].[OptionRols] ([OptionRolId], [OptionId], [RolId], [FromDate], [ToDate], [Undefined], [Index], [Delete], [Create], [Edit], [Details], [StatusId]) VALUES (2, 1, 1, CAST(N'2012-12-12T00:00:00.000' AS DateTime), CAST(N'2012-12-12T00:00:00.000' AS DateTime), 1, 0, 0, 0, 0, 0, 1)
INSERT [dbo].[OptionRols] ([OptionRolId], [OptionId], [RolId], [FromDate], [ToDate], [Undefined], [Index], [Delete], [Create], [Edit], [Details], [StatusId]) VALUES (3, 2, 1, CAST(N'2012-12-12T00:00:00.000' AS DateTime), CAST(N'2012-12-12T00:00:00.000' AS DateTime), 1, 0, 0, 0, 0, 0, 1)
SET IDENTITY_INSERT [dbo].[OptionRols] OFF
SET IDENTITY_INSERT [dbo].[Options] ON 

INSERT [dbo].[Options] ([OptionId], [ParentOptionId], [Name], [Description], [Link], [Area], [Controller], [Action], [Order], [Class], [Icon], [StatusId]) VALUES (1, 1, N'Sucursales', N'Sucursales', N'#', N'Pos', N'Shops', N'Index', 0, N'', N'', 1)
INSERT [dbo].[Options] ([OptionId], [ParentOptionId], [Name], [Description], [Link], [Area], [Controller], [Action], [Order], [Class], [Icon], [StatusId]) VALUES (2, 1, N'Usuarios', N'Usuarios', N'#', N'Pos', N'Users', N'Index', 0, N'', N'', 1)
INSERT [dbo].[Options] ([OptionId], [ParentOptionId], [Name], [Description], [Link], [Area], [Controller], [Action], [Order], [Class], [Icon], [StatusId]) VALUES (3, 1, N'Roles', N'Roles', N'#', N'Pos', N'Rols', N'Index', 0, N'', N'', 1)
SET IDENTITY_INSERT [dbo].[Options] OFF
SET IDENTITY_INSERT [dbo].[ParentOptions] ON 

INSERT [dbo].[ParentOptions] ([ParentOptionId], [Name], [Description], [Link], [Order], [Class], [Icon], [StatusId]) VALUES (1, N'Seguridad', N'Seguridad', N'#menuSeguridad', 0, N'fa fa-user', N'', 1)
INSERT [dbo].[ParentOptions] ([ParentOptionId], [Name], [Description], [Link], [Order], [Class], [Icon], [StatusId]) VALUES (2, N'Configuracion Gen', N'Configuracion Gen', N'~/Manage', 1, N'fa fa-cog', N'', 1)
INSERT [dbo].[ParentOptions] ([ParentOptionId], [Name], [Description], [Link], [Order], [Class], [Icon], [StatusId]) VALUES (3, N'Pacientes', N'Pacientes', N'~/Medicals/Patients', 2, N'fa fa-user-md', N'', 1)
SET IDENTITY_INSERT [dbo].[ParentOptions] OFF
SET IDENTITY_INSERT [dbo].[Patients] ON 

INSERT [dbo].[Patients] ([PatientId], [PersonId], [Record], [Record2], [CreationDate], [InsuranceId], [InsuranceNumber], [BloodTypeId], [Age]) VALUES (1, 1, 1, N'11', NULL, 1, NULL, 1, NULL)
INSERT [dbo].[Patients] ([PatientId], [PersonId], [Record], [Record2], [CreationDate], [InsuranceId], [InsuranceNumber], [BloodTypeId], [Age]) VALUES (2, 2, 2, NULL, NULL, 1, NULL, 1, NULL)
SET IDENTITY_INSERT [dbo].[Patients] OFF
SET IDENTITY_INSERT [dbo].[PaymentTypes] ON 

INSERT [dbo].[PaymentTypes] ([PaymentTypeId], [Code], [Name]) VALUES (1, N'Ef', N'Efectivo')
INSERT [dbo].[PaymentTypes] ([PaymentTypeId], [Code], [Name]) VALUES (2, N'CR', N'Credito')
INSERT [dbo].[PaymentTypes] ([PaymentTypeId], [Code], [Name]) VALUES (3, N'TC', N'Tarjeta de Credito')
SET IDENTITY_INSERT [dbo].[PaymentTypes] OFF
SET IDENTITY_INSERT [dbo].[People] ON 

INSERT [dbo].[People] ([PersonId], [Rnc], [Name], [LastName], [BornDate], [GenderId], [SchoolLevelId], [CountryId], [Email], [Tel], [Cel], [MaritalSituationId], [OcupationId], [ReligionId], [Address], [StatusId], [Imagen], [AuthorId]) VALUES (1, NULL, N'111111111111', N'1111111111', NULL, 1, 1, 1, NULL, NULL, NULL, 1, 35, 1, NULL, 1, N'', 1)
INSERT [dbo].[People] ([PersonId], [Rnc], [Name], [LastName], [BornDate], [GenderId], [SchoolLevelId], [CountryId], [Email], [Tel], [Cel], [MaritalSituationId], [OcupationId], [ReligionId], [Address], [StatusId], [Imagen], [AuthorId]) VALUES (2, NULL, N'gggggggggg', N'ggggggggggggg', NULL, 1, 1, 1, NULL, NULL, NULL, 1, 35, 1, NULL, 1, N'', 1)
SET IDENTITY_INSERT [dbo].[People] OFF
SET IDENTITY_INSERT [dbo].[Periodicities] ON 

INSERT [dbo].[Periodicities] ([PeriodicityId], [Code], [Name]) VALUES (1, N'D', N'Diario')
INSERT [dbo].[Periodicities] ([PeriodicityId], [Code], [Name]) VALUES (2, N'W', N'Semanal')
INSERT [dbo].[Periodicities] ([PeriodicityId], [Code], [Name]) VALUES (3, N'Q', N'Quincenal')
SET IDENTITY_INSERT [dbo].[Periodicities] OFF
SET IDENTITY_INSERT [dbo].[Religions] ON 

INSERT [dbo].[Religions] ([ReligionId], [Name]) VALUES (5, N'Adventista')
INSERT [dbo].[Religions] ([ReligionId], [Name]) VALUES (15, N'Ate@')
INSERT [dbo].[Religions] ([ReligionId], [Name]) VALUES (11, N'Budista')
SET IDENTITY_INSERT [dbo].[Religions] OFF
SET IDENTITY_INSERT [dbo].[Rols] ON 

INSERT [dbo].[Rols] ([RolId], [AuthorId], [Name], [Description], [Level], [StatusId]) VALUES (1, 1, N'Admin', N'Administrador', 2, 1)
INSERT [dbo].[Rols] ([RolId], [AuthorId], [Name], [Description], [Level], [StatusId]) VALUES (2, 3, N'Admin', N'xxx', 2, 1)
INSERT [dbo].[Rols] ([RolId], [AuthorId], [Name], [Description], [Level], [StatusId]) VALUES (3, 4, N'Admin', N'xxx', 2, 1)
SET IDENTITY_INSERT [dbo].[Rols] OFF
SET IDENTITY_INSERT [dbo].[SchoolLevels] ON 

INSERT [dbo].[SchoolLevels] ([SchoolLevelId], [Name]) VALUES (1, N'N/A')
INSERT [dbo].[SchoolLevels] ([SchoolLevelId], [Name]) VALUES (7, N'N/A (Desconocida)')
INSERT [dbo].[SchoolLevels] ([SchoolLevelId], [Name]) VALUES (2, N'Ninguno')
SET IDENTITY_INSERT [dbo].[SchoolLevels] OFF
SET IDENTITY_INSERT [dbo].[ServiceTypes] ON 

INSERT [dbo].[ServiceTypes] ([ServiceTypeId], [Name]) VALUES (1, N'Servicio')
INSERT [dbo].[ServiceTypes] ([ServiceTypeId], [Name]) VALUES (2, N'Producto')
SET IDENTITY_INSERT [dbo].[ServiceTypes] OFF
SET IDENTITY_INSERT [dbo].[Status] ON 

INSERT [dbo].[Status] ([StatusId], [Name], [Table]) VALUES (1, N'Activo', N'ALL')
INSERT [dbo].[Status] ([StatusId], [Name], [Table]) VALUES (2, N'Inactivo', N'ALL')
INSERT [dbo].[Status] ([StatusId], [Name], [Table]) VALUES (3, N'Caja Abierta', N'Cashier')
SET IDENTITY_INSERT [dbo].[Status] OFF
SET IDENTITY_INSERT [dbo].[UserEmailSettings] ON 

INSERT [dbo].[UserEmailSettings] ([UserEmailSettingId], [UserId], [Email], [Password], [HostNameSmtp], [Port]) VALUES (1, 1, N'sgrysoft@gmail.com', N'PLk4LfNNdCRkuxMzOwVgIA==', N'smtp.gmail.com', 587)
SET IDENTITY_INSERT [dbo].[UserEmailSettings] OFF
SET IDENTITY_INSERT [dbo].[UserRols] ON 

INSERT [dbo].[UserRols] ([UserRolId], [RolId], [UserId], [FromDate], [ToDate], [Undefined], [StatusId], [Option_OptionId]) VALUES (1, 1, 1, CAST(N'2012-12-12T00:00:00.000' AS DateTime), CAST(N'2012-12-12T00:00:00.000' AS DateTime), 1, 1, NULL)
INSERT [dbo].[UserRols] ([UserRolId], [RolId], [UserId], [FromDate], [ToDate], [Undefined], [StatusId], [Option_OptionId]) VALUES (2, 2, 4, CAST(N'2012-12-12T00:00:00.000' AS DateTime), CAST(N'2012-12-12T00:00:00.000' AS DateTime), 1, 1, NULL)
INSERT [dbo].[UserRols] ([UserRolId], [RolId], [UserId], [FromDate], [ToDate], [Undefined], [StatusId], [Option_OptionId]) VALUES (3, 3, 3, CAST(N'2012-12-12T00:00:00.000' AS DateTime), CAST(N'2012-12-12T00:00:00.000' AS DateTime), 1, 1, NULL)
SET IDENTITY_INSERT [dbo].[UserRols] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [FirstName], [LastName], [UserTypeId], [Picture], [Email], [StatusId], [AuthorId]) VALUES (1, N'Mersy', N'RD', 1, NULL, N'mersyrd@gmail.com', 1, 1)
INSERT [dbo].[Users] ([UserId], [FirstName], [LastName], [UserTypeId], [Picture], [Email], [StatusId], [AuthorId]) VALUES (2, N'Starling', N'Germosen', 1, NULL, N'sgermosen@outlook.com', 1, 1)
INSERT [dbo].[Users] ([UserId], [FirstName], [LastName], [UserTypeId], [Picture], [Email], [StatusId], [AuthorId]) VALUES (3, N'Yajaira ', N'Olivares', 1, NULL, N'yolivarez@hotmail.es', 1, 4)
SET IDENTITY_INSERT [dbo].[Users] OFF
SET IDENTITY_INSERT [dbo].[UserTypes] ON 

INSERT [dbo].[UserTypes] ([UserTypeId], [Name]) VALUES (2, N'External')
INSERT [dbo].[UserTypes] ([UserTypeId], [Name]) VALUES (3, N'Facebook')
INSERT [dbo].[UserTypes] ([UserTypeId], [Name]) VALUES (6, N'Google')
SET IDENTITY_INSERT [dbo].[UserTypes] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 25/8/2018 10:43:36 a. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 25/8/2018 10:43:36 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 25/8/2018 10:43:36 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RoleId]    Script Date: 25/8/2018 10:43:36 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 25/8/2018 10:43:36 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 25/8/2018 10:43:36 a. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AuthorPlanId]    Script Date: 25/8/2018 10:43:36 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_AuthorPlanId] ON [dbo].[AuthorPlanOptions]
(
	[AuthorPlanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_OptionId]    Script Date: 25/8/2018 10:43:36 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_OptionId] ON [dbo].[AuthorPlanOptions]
(
	[OptionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [AuthorPlan_Code_Index]    Script Date: 25/8/2018 10:43:36 a. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [AuthorPlan_Code_Index] ON [dbo].[AuthorPlans]
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [AuthorPlan_Name_Index]    Script Date: 25/8/2018 10:43:36 a. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [AuthorPlan_Name_Index] ON [dbo].[AuthorPlans]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CurrencyId]    Script Date: 25/8/2018 10:43:36 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_CurrencyId] ON [dbo].[AuthorPlans]
(
	[CurrencyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PeriodicityId]    Script Date: 25/8/2018 10:43:36 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_PeriodicityId] ON [dbo].[AuthorPlans]
(
	[PeriodicityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_StatusId]    Script Date: 25/8/2018 10:43:36 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_StatusId] ON [dbo].[AuthorPlans]
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Author_Code_Index]    Script Date: 25/8/2018 10:43:36 a. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [Author_Code_Index] ON [dbo].[Authors]
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Author_Email_Index]    Script Date: 25/8/2018 10:43:36 a. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [Author_Email_Index] ON [dbo].[Authors]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Author_Tel_Index]    Script Date: 25/8/2018 10:43:36 a. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [Author_Tel_Index] ON [dbo].[Authors]
(
	[Tel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AuthorPlanId]    Script Date: 25/8/2018 10:43:36 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_AuthorPlanId] ON [dbo].[Authors]
(
	[AuthorPlanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AuthorTypeId]    Script Date: 25/8/2018 10:43:36 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_AuthorTypeId] ON [dbo].[Authors]
(
	[AuthorTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_StatusId]    Script Date: 25/8/2018 10:43:36 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_StatusId] ON [dbo].[Authors]
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [AuthorType_Name_Index]    Script Date: 25/8/2018 10:43:36 a. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [AuthorType_Name_Index] ON [dbo].[AuthorTypes]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [BloodType_Code_Index]    Script Date: 25/8/2018 10:43:36 a. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [BloodType_Code_Index] ON [dbo].[BloodTypes]
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [BloodType_Name_Index]    Script Date: 25/8/2018 10:43:36 a. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [BloodType_Name_Index] ON [dbo].[BloodTypes]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Continent_Code_Index]    Script Date: 25/8/2018 10:43:36 a. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [Continent_Code_Index] ON [dbo].[Continents]
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Continent_Demonym_Index]    Script Date: 25/8/2018 10:43:36 a. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [Continent_Demonym_Index] ON [dbo].[Continents]
(
	[Demonym] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Continent_Name_Index]    Script Date: 25/8/2018 10:43:36 a. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [Continent_Name_Index] ON [dbo].[Continents]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Country_Code_Index]    Script Date: 25/8/2018 10:43:36 a. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [Country_Code_Index] ON [dbo].[Countries]
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Country_Demonym_Index]    Script Date: 25/8/2018 10:43:36 a. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [Country_Demonym_Index] ON [dbo].[Countries]
(
	[Demonym] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Country_Name_Index]    Script Date: 25/8/2018 10:43:36 a. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [Country_Name_Index] ON [dbo].[Countries]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Continent_ContinentId]    Script Date: 25/8/2018 10:43:36 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_Continent_ContinentId] ON [dbo].[Countries]
(
	[Continent_ContinentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Currency_Code_Index]    Script Date: 25/8/2018 10:43:36 a. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [Currency_Code_Index] ON [dbo].[Currencies]
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Currency_Name_Index]    Script Date: 25/8/2018 10:43:36 a. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [Currency_Name_Index] ON [dbo].[Currencies]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Gender_Name_Index]    Script Date: 25/8/2018 10:43:36 a. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [Gender_Name_Index] ON [dbo].[Genders]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PatientId]    Script Date: 25/8/2018 10:43:36 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_PatientId] ON [dbo].[Generals]
(
	[PatientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Insurance_Code_Index]    Script Date: 25/8/2018 10:43:36 a. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [Insurance_Code_Index] ON [dbo].[Insurances]
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Insurance_Name_Index]    Script Date: 25/8/2018 10:43:36 a. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [Insurance_Name_Index] ON [dbo].[Insurances]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [MaritalSituation_Name_Index]    Script Date: 25/8/2018 10:43:36 a. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [MaritalSituation_Name_Index] ON [dbo].[MaritalSituations]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Ocupation_Name_Index]    Script Date: 25/8/2018 10:43:36 a. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [Ocupation_Name_Index] ON [dbo].[Ocupations]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_OptionId]    Script Date: 25/8/2018 10:43:36 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_OptionId] ON [dbo].[OptionRols]
(
	[OptionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RolId]    Script Date: 25/8/2018 10:43:36 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_RolId] ON [dbo].[OptionRols]
(
	[RolId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_StatusId]    Script Date: 25/8/2018 10:43:36 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_StatusId] ON [dbo].[OptionRols]
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ParentOptionId]    Script Date: 25/8/2018 10:43:36 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_ParentOptionId] ON [dbo].[Options]
(
	[ParentOptionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_StatusId]    Script Date: 25/8/2018 10:43:36 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_StatusId] ON [dbo].[Options]
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_StatusId]    Script Date: 25/8/2018 10:43:36 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_StatusId] ON [dbo].[ParentOptions]
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_BloodTypeId]    Script Date: 25/8/2018 10:43:36 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_BloodTypeId] ON [dbo].[Patients]
(
	[BloodTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_InsuranceId]    Script Date: 25/8/2018 10:43:36 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_InsuranceId] ON [dbo].[Patients]
(
	[InsuranceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PersonId]    Script Date: 25/8/2018 10:43:36 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_PersonId] ON [dbo].[Patients]
(
	[PersonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PaymentType_Code_Index]    Script Date: 25/8/2018 10:43:36 a. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [PaymentType_Code_Index] ON [dbo].[PaymentTypes]
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PaymentType_Name_Index]    Script Date: 25/8/2018 10:43:36 a. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [PaymentType_Name_Index] ON [dbo].[PaymentTypes]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AuthorId]    Script Date: 25/8/2018 10:43:36 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_AuthorId] ON [dbo].[People]
(
	[AuthorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CountryId]    Script Date: 25/8/2018 10:43:36 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_CountryId] ON [dbo].[People]
(
	[CountryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_GenderId]    Script Date: 25/8/2018 10:43:36 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_GenderId] ON [dbo].[People]
(
	[GenderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaritalSituationId]    Script Date: 25/8/2018 10:43:36 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_MaritalSituationId] ON [dbo].[People]
(
	[MaritalSituationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_OcupationId]    Script Date: 25/8/2018 10:43:36 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_OcupationId] ON [dbo].[People]
(
	[OcupationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ReligionId]    Script Date: 25/8/2018 10:43:36 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_ReligionId] ON [dbo].[People]
(
	[ReligionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SchoolLevelId]    Script Date: 25/8/2018 10:43:36 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_SchoolLevelId] ON [dbo].[People]
(
	[SchoolLevelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_StatusId]    Script Date: 25/8/2018 10:43:36 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_StatusId] ON [dbo].[People]
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Periodicity_Code_Index]    Script Date: 25/8/2018 10:43:36 a. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [Periodicity_Code_Index] ON [dbo].[Periodicities]
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Periodicity_Name_Index]    Script Date: 25/8/2018 10:43:36 a. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [Periodicity_Name_Index] ON [dbo].[Periodicities]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Religion_Name_Index]    Script Date: 25/8/2018 10:43:36 a. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [Religion_Name_Index] ON [dbo].[Religions]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AuthorId]    Script Date: 25/8/2018 10:43:36 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_AuthorId] ON [dbo].[Reports]
(
	[AuthorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_User_UserId]    Script Date: 25/8/2018 10:43:36 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_User_UserId] ON [dbo].[Reports]
(
	[User_UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AuthorId]    Script Date: 25/8/2018 10:43:36 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_AuthorId] ON [dbo].[Rols]
(
	[AuthorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_StatusId]    Script Date: 25/8/2018 10:43:36 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_StatusId] ON [dbo].[Rols]
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [SchoolLevel_Name_Index]    Script Date: 25/8/2018 10:43:36 a. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [SchoolLevel_Name_Index] ON [dbo].[SchoolLevels]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 25/8/2018 10:43:36 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[UserEmailSettings]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Option_OptionId]    Script Date: 25/8/2018 10:43:36 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_Option_OptionId] ON [dbo].[UserRols]
(
	[Option_OptionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RolId]    Script Date: 25/8/2018 10:43:36 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_RolId] ON [dbo].[UserRols]
(
	[RolId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_StatusId]    Script Date: 25/8/2018 10:43:36 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_StatusId] ON [dbo].[UserRols]
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 25/8/2018 10:43:36 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[UserRols]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AuthorId]    Script Date: 25/8/2018 10:43:36 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_AuthorId] ON [dbo].[Users]
(
	[AuthorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_StatusId]    Script Date: 25/8/2018 10:43:36 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_StatusId] ON [dbo].[Users]
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserTypeId]    Script Date: 25/8/2018 10:43:36 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_UserTypeId] ON [dbo].[Users]
(
	[UserTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserType_Name_Index]    Script Date: 25/8/2018 10:43:36 a. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserType_Name_Index] ON [dbo].[UserTypes]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AuthorPlanOptions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AuthorPlanOptions_dbo.AuthorPlans_AuthorPlanId] FOREIGN KEY([AuthorPlanId])
REFERENCES [dbo].[AuthorPlans] ([AuthorPlanId])
GO
ALTER TABLE [dbo].[AuthorPlanOptions] CHECK CONSTRAINT [FK_dbo.AuthorPlanOptions_dbo.AuthorPlans_AuthorPlanId]
GO
ALTER TABLE [dbo].[AuthorPlanOptions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AuthorPlanOptions_dbo.Options_OptionId] FOREIGN KEY([OptionId])
REFERENCES [dbo].[Options] ([OptionId])
GO
ALTER TABLE [dbo].[AuthorPlanOptions] CHECK CONSTRAINT [FK_dbo.AuthorPlanOptions_dbo.Options_OptionId]
GO
ALTER TABLE [dbo].[AuthorPlans]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AuthorPlans_dbo.Currencies_CurrencyId] FOREIGN KEY([CurrencyId])
REFERENCES [dbo].[Currencies] ([CurrencyId])
GO
ALTER TABLE [dbo].[AuthorPlans] CHECK CONSTRAINT [FK_dbo.AuthorPlans_dbo.Currencies_CurrencyId]
GO
ALTER TABLE [dbo].[AuthorPlans]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AuthorPlans_dbo.Periodicities_PeriodicityId] FOREIGN KEY([PeriodicityId])
REFERENCES [dbo].[Periodicities] ([PeriodicityId])
GO
ALTER TABLE [dbo].[AuthorPlans] CHECK CONSTRAINT [FK_dbo.AuthorPlans_dbo.Periodicities_PeriodicityId]
GO
ALTER TABLE [dbo].[AuthorPlans]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AuthorPlans_dbo.Status_StatusId] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Status] ([StatusId])
GO
ALTER TABLE [dbo].[AuthorPlans] CHECK CONSTRAINT [FK_dbo.AuthorPlans_dbo.Status_StatusId]
GO
ALTER TABLE [dbo].[Authors]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Authors_dbo.AuthorPlans_AuthorPlanId] FOREIGN KEY([AuthorPlanId])
REFERENCES [dbo].[AuthorPlans] ([AuthorPlanId])
GO
ALTER TABLE [dbo].[Authors] CHECK CONSTRAINT [FK_dbo.Authors_dbo.AuthorPlans_AuthorPlanId]
GO
ALTER TABLE [dbo].[Authors]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Authors_dbo.AuthorTypes_AuthorTypeId] FOREIGN KEY([AuthorTypeId])
REFERENCES [dbo].[AuthorTypes] ([AuthorTypeId])
GO
ALTER TABLE [dbo].[Authors] CHECK CONSTRAINT [FK_dbo.Authors_dbo.AuthorTypes_AuthorTypeId]
GO
ALTER TABLE [dbo].[Authors]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Authors_dbo.Status_StatusId] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Status] ([StatusId])
GO
ALTER TABLE [dbo].[Authors] CHECK CONSTRAINT [FK_dbo.Authors_dbo.Status_StatusId]
GO
ALTER TABLE [dbo].[Countries]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Countries_dbo.Continents_Continent_ContinentId] FOREIGN KEY([Continent_ContinentId])
REFERENCES [dbo].[Continents] ([ContinentId])
GO
ALTER TABLE [dbo].[Countries] CHECK CONSTRAINT [FK_dbo.Countries_dbo.Continents_Continent_ContinentId]
GO
ALTER TABLE [dbo].[Generals]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Generals_dbo.Patients_PatientId] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patients] ([PatientId])
GO
ALTER TABLE [dbo].[Generals] CHECK CONSTRAINT [FK_dbo.Generals_dbo.Patients_PatientId]
GO
ALTER TABLE [dbo].[OptionRols]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OptionRols_dbo.Options_OptionId] FOREIGN KEY([OptionId])
REFERENCES [dbo].[Options] ([OptionId])
GO
ALTER TABLE [dbo].[OptionRols] CHECK CONSTRAINT [FK_dbo.OptionRols_dbo.Options_OptionId]
GO
ALTER TABLE [dbo].[OptionRols]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OptionRols_dbo.Rols_RolId] FOREIGN KEY([RolId])
REFERENCES [dbo].[Rols] ([RolId])
GO
ALTER TABLE [dbo].[OptionRols] CHECK CONSTRAINT [FK_dbo.OptionRols_dbo.Rols_RolId]
GO
ALTER TABLE [dbo].[OptionRols]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OptionRols_dbo.Status_StatusId] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Status] ([StatusId])
GO
ALTER TABLE [dbo].[OptionRols] CHECK CONSTRAINT [FK_dbo.OptionRols_dbo.Status_StatusId]
GO
ALTER TABLE [dbo].[Options]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Options_dbo.ParentOptions_ParentOptionId] FOREIGN KEY([ParentOptionId])
REFERENCES [dbo].[ParentOptions] ([ParentOptionId])
GO
ALTER TABLE [dbo].[Options] CHECK CONSTRAINT [FK_dbo.Options_dbo.ParentOptions_ParentOptionId]
GO
ALTER TABLE [dbo].[Options]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Options_dbo.Status_StatusId] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Status] ([StatusId])
GO
ALTER TABLE [dbo].[Options] CHECK CONSTRAINT [FK_dbo.Options_dbo.Status_StatusId]
GO
ALTER TABLE [dbo].[ParentOptions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ParentOptions_dbo.Status_StatusId] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Status] ([StatusId])
GO
ALTER TABLE [dbo].[ParentOptions] CHECK CONSTRAINT [FK_dbo.ParentOptions_dbo.Status_StatusId]
GO
ALTER TABLE [dbo].[Patients]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Patients_dbo.BloodTypes_BloodTypeId] FOREIGN KEY([BloodTypeId])
REFERENCES [dbo].[BloodTypes] ([BloodTypeId])
GO
ALTER TABLE [dbo].[Patients] CHECK CONSTRAINT [FK_dbo.Patients_dbo.BloodTypes_BloodTypeId]
GO
ALTER TABLE [dbo].[Patients]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Patients_dbo.Insurances_InsuranceId] FOREIGN KEY([InsuranceId])
REFERENCES [dbo].[Insurances] ([InsuranceId])
GO
ALTER TABLE [dbo].[Patients] CHECK CONSTRAINT [FK_dbo.Patients_dbo.Insurances_InsuranceId]
GO
ALTER TABLE [dbo].[Patients]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Patients_dbo.People_PersonId] FOREIGN KEY([PersonId])
REFERENCES [dbo].[People] ([PersonId])
GO
ALTER TABLE [dbo].[Patients] CHECK CONSTRAINT [FK_dbo.Patients_dbo.People_PersonId]
GO
ALTER TABLE [dbo].[People]  WITH CHECK ADD  CONSTRAINT [FK_dbo.People_dbo.Authors_AuthorId] FOREIGN KEY([AuthorId])
REFERENCES [dbo].[Authors] ([AuthorId])
GO
ALTER TABLE [dbo].[People] CHECK CONSTRAINT [FK_dbo.People_dbo.Authors_AuthorId]
GO
ALTER TABLE [dbo].[People]  WITH CHECK ADD  CONSTRAINT [FK_dbo.People_dbo.Countries_CountryId] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Countries] ([CountryId])
GO
ALTER TABLE [dbo].[People] CHECK CONSTRAINT [FK_dbo.People_dbo.Countries_CountryId]
GO
ALTER TABLE [dbo].[People]  WITH CHECK ADD  CONSTRAINT [FK_dbo.People_dbo.Genders_GenderId] FOREIGN KEY([GenderId])
REFERENCES [dbo].[Genders] ([GenderId])
GO
ALTER TABLE [dbo].[People] CHECK CONSTRAINT [FK_dbo.People_dbo.Genders_GenderId]
GO
ALTER TABLE [dbo].[People]  WITH CHECK ADD  CONSTRAINT [FK_dbo.People_dbo.MaritalSituations_MaritalSituationId] FOREIGN KEY([MaritalSituationId])
REFERENCES [dbo].[MaritalSituations] ([MaritalSituationId])
GO
ALTER TABLE [dbo].[People] CHECK CONSTRAINT [FK_dbo.People_dbo.MaritalSituations_MaritalSituationId]
GO
ALTER TABLE [dbo].[People]  WITH CHECK ADD  CONSTRAINT [FK_dbo.People_dbo.Ocupations_OcupationId] FOREIGN KEY([OcupationId])
REFERENCES [dbo].[Ocupations] ([OcupationId])
GO
ALTER TABLE [dbo].[People] CHECK CONSTRAINT [FK_dbo.People_dbo.Ocupations_OcupationId]
GO
ALTER TABLE [dbo].[People]  WITH CHECK ADD  CONSTRAINT [FK_dbo.People_dbo.Religions_ReligionId] FOREIGN KEY([ReligionId])
REFERENCES [dbo].[Religions] ([ReligionId])
GO
ALTER TABLE [dbo].[People] CHECK CONSTRAINT [FK_dbo.People_dbo.Religions_ReligionId]
GO
ALTER TABLE [dbo].[People]  WITH CHECK ADD  CONSTRAINT [FK_dbo.People_dbo.SchoolLevels_SchoolLevelId] FOREIGN KEY([SchoolLevelId])
REFERENCES [dbo].[SchoolLevels] ([SchoolLevelId])
GO
ALTER TABLE [dbo].[People] CHECK CONSTRAINT [FK_dbo.People_dbo.SchoolLevels_SchoolLevelId]
GO
ALTER TABLE [dbo].[People]  WITH CHECK ADD  CONSTRAINT [FK_dbo.People_dbo.Status_StatusId] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Status] ([StatusId])
GO
ALTER TABLE [dbo].[People] CHECK CONSTRAINT [FK_dbo.People_dbo.Status_StatusId]
GO
ALTER TABLE [dbo].[Reports]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Reports_dbo.Authors_AuthorId] FOREIGN KEY([AuthorId])
REFERENCES [dbo].[Authors] ([AuthorId])
GO
ALTER TABLE [dbo].[Reports] CHECK CONSTRAINT [FK_dbo.Reports_dbo.Authors_AuthorId]
GO
ALTER TABLE [dbo].[Reports]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Reports_dbo.Users_User_UserId] FOREIGN KEY([User_UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Reports] CHECK CONSTRAINT [FK_dbo.Reports_dbo.Users_User_UserId]
GO
ALTER TABLE [dbo].[Rols]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Rols_dbo.Authors_AuthorId] FOREIGN KEY([AuthorId])
REFERENCES [dbo].[Authors] ([AuthorId])
GO
ALTER TABLE [dbo].[Rols] CHECK CONSTRAINT [FK_dbo.Rols_dbo.Authors_AuthorId]
GO
ALTER TABLE [dbo].[Rols]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Rols_dbo.Status_StatusId] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Status] ([StatusId])
GO
ALTER TABLE [dbo].[Rols] CHECK CONSTRAINT [FK_dbo.Rols_dbo.Status_StatusId]
GO
ALTER TABLE [dbo].[UserEmailSettings]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserEmailSettings_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[UserEmailSettings] CHECK CONSTRAINT [FK_dbo.UserEmailSettings_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[UserRols]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserRols_dbo.Options_Option_OptionId] FOREIGN KEY([Option_OptionId])
REFERENCES [dbo].[Options] ([OptionId])
GO
ALTER TABLE [dbo].[UserRols] CHECK CONSTRAINT [FK_dbo.UserRols_dbo.Options_Option_OptionId]
GO
ALTER TABLE [dbo].[UserRols]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserRols_dbo.Rols_RolId] FOREIGN KEY([RolId])
REFERENCES [dbo].[Rols] ([RolId])
GO
ALTER TABLE [dbo].[UserRols] CHECK CONSTRAINT [FK_dbo.UserRols_dbo.Rols_RolId]
GO
ALTER TABLE [dbo].[UserRols]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserRols_dbo.Status_StatusId] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Status] ([StatusId])
GO
ALTER TABLE [dbo].[UserRols] CHECK CONSTRAINT [FK_dbo.UserRols_dbo.Status_StatusId]
GO
ALTER TABLE [dbo].[UserRols]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserRols_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[UserRols] CHECK CONSTRAINT [FK_dbo.UserRols_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Users_dbo.Authors_AuthorId] FOREIGN KEY([AuthorId])
REFERENCES [dbo].[Authors] ([AuthorId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_dbo.Users_dbo.Authors_AuthorId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Users_dbo.Status_StatusId] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Status] ([StatusId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_dbo.Users_dbo.Status_StatusId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Users_dbo.UserTypes_UserTypeId] FOREIGN KEY([UserTypeId])
REFERENCES [dbo].[UserTypes] ([UserTypeId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_dbo.Users_dbo.UserTypes_UserTypeId]
GO
USE [master]
GO
